@import 'tailwindcss';
@plugin 'daisyui';

@keyframes rainbow {
  0% { color: #ff0000; }
  17% { color: #ff8000; }
  33% { color: #ffff00; }
  50% { color: #00ff00; }
  67% { color: #0080ff; }
  83% { color: #8000ff; }
  100% { color: #ff0000; }
}

.rainbow-text {
  animation: rainbow 2s linear infinite;
  font-weight: bold;
}
